body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

header {
  background-color: #0078D7;
  color: white;
  padding: 20px;
}

nav a {
  text-decoration: none;
  margin: 10px;
  color: #0078D7;
}

nav a:hover {
  text-decoration: underline;
}
