{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CONTAINERIZE YOUR AN APPLICATION WITH DOCKER</title>
  <link rel="stylesheet" href="{% static 'websitefiles/7_style.css' %}">
</head>
<body>
  <header>
    <img src="{% static 'websitefiles/7_EDITED_PIC.jpg' %}" alt="Logo" width="80">
    <h1>HELLO DevOps LEARNERS!</h1>
  </header>


  <main>
    <p>DESIGNED BY CLOUD & DevOps ENGINEER, CHINEDU ONYEMA OREMUS</p>
  </main>

  <footer>
    <p></p>
  </footer>
</body>
</html>
